A.login:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.login:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.login:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.login:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.main_menu:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.main_menu:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.main_menu:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.main_menu:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.main_menu_text {
	PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; PADDING-TOP: 3px
}
.Head {
	COLOR: #000000; TEXT-INDENT: 8px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.index_btn {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BACKGROUND-IMAGE: url(/images/btn_index.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 135px; CURSOR: hand; COLOR: #000000; PADDING-TOP: 2px; HEIGHT: 28px; BORDER-RIGHT-WIDTH: 0px
}
A.index_logoin:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #0058a2; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.index_logoin:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #0058a2; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.index_logoin:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ff6600; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.index_logoin:active {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #0058a2; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.index_text:link {
	FONT-SIZE: 12px; COLOR: #339900; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.index_text:visited {
	FONT-SIZE: 12px; COLOR: #339900; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.index_text:hover {
	FONT-SIZE: 12px; COLOR: #ff6666; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.index_text:active {
	FONT-SIZE: 12px; COLOR: #339900; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
BODY {
	FONT-SIZE: 12px; MARGIN: 0px; FONT-FAMILY: "宋体",Verdana, Arial; TEXT-ALIGN: left
}
TD {
	FONT-SIZE: 12px; MARGIN: 0px; FONT-FAMILY: "宋体",Verdana, Arial; TEXT-ALIGN: left
}
TH {
	FONT-SIZE: 12px; MARGIN: 0px; FONT-FAMILY: "宋体",Verdana, Arial; TEXT-ALIGN: left
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体",Verdana, Arial
}
SELECT {
	BORDER-RIGHT: #f4f4f4 1px solid; BORDER-TOP: #f4f4f4 1px solid; OVERFLOW: hidden; BORDER-LEFT: #f4f4f4 1px solid; BORDER-BOTTOM: #f4f4f4 1px solid; HEIGHT: 17px
}
A:link {
	COLOR: #264f85; TEXT-DECORATION: none
}
A:visited {
	COLOR: #264f85; TEXT-DECORATION: none
}
A:hover {
	COLOR: #264f85; TEXT-DECORATION: none
}
A:active {
	COLOR: #666666; TEXT-DECORATION: none
}
A.blue:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.blue:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #00459a; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.blue:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #00459a; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.blue:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.blue:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #00459a; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.blue01:link:unknown {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0000ff; POSITION: relative; TEXT-DECORATION: underline
}
A.blue01:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0000ff; POSITION: relative; TEXT-DECORATION: underline
}
A.blue01:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff6600; POSITION: relative; TEXT-DECORATION: underline
}
A.blue01:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0000ff; POSITION: relative; TEXT-DECORATION: underline
}
A.orange:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff9400; POSITION: relative; TEXT-DECORATION: underline
}
A.orange:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff9400; POSITION: relative; TEXT-DECORATION: underline
}
A.orange:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff6600; POSITION: relative; TEXT-DECORATION: underline
}
A.orange:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff9400; POSITION: relative; TEXT-DECORATION: underline
}
A.orange01:link {
	FONT-SIZE: 12px; COLOR: #ff9400; POSITION: relative; TEXT-DECORATION: underline
}
A.orange01:visited {
	FONT-SIZE: 12px; COLOR: #ff9400; POSITION: relative; TEXT-DECORATION: underline
}
A.orange01:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; POSITION: relative; TEXT-DECORATION: underline
}
A.orange01:active {
	FONT-SIZE: 12px; COLOR: #ff9400; POSITION: relative; TEXT-DECORATION: underline
}
A.blackunderline:link {
	FONT: bold 14px "宋体", Verdana, Arial; COLOR: #000000; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.blackunderline:visited {
	FONT: bold 14px "宋体", Verdana, Arial; COLOR: #000000; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.blackunderline:hover {
	FONT: bold 14px "宋体", Verdana, Arial; COLOR: #ff6600; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.blackunderline:active {
	FONT: bold 14px "宋体", Verdana, Arial; COLOR: #000000; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.blackunderline12:link {
	FONT: 12px "宋体", Verdana, Arial; COLOR: #000000; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.blackunderline12:visited {
	FONT: 12px "宋体", Verdana, Arial; COLOR: #000000; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.blackunderline12:hover {
	FONT: 12px "宋体", Verdana, Arial; COLOR: #ff6600; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.blackunderline12:active {
	FONT: 12px "宋体", Verdana, Arial; COLOR: #000000; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.greyunderline:link {
	FONT: 12px "宋体", Verdana, Arial; COLOR: #828282; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.greyunderline:visited {
	FONT: 12px "宋体", Verdana, Arial; COLOR: #828282; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.greyunderline:hover {
	FONT: 12px "宋体", Verdana, Arial; COLOR: #ff6600; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.greyunderline:active {
	FONT: 12px "宋体", Verdana, Arial; COLOR: #828282; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.greentext:link {
	FONT: 12px "宋体", Verdana, Arial; COLOR: #00970e; TEXT-DECORATION: underline
}
A.greentext:visited {
	FONT: 12px "宋体", Verdana, Arial; COLOR: #00970e; TEXT-DECORATION: underline
}
A.greentext:hover {
	FONT: 12px "宋体", Verdana, Arial; COLOR: #ff6600; TEXT-DECORATION: underline
}
A.greentext:active {
	FONT: 12px "宋体", Verdana, Arial; COLOR: #00970e; TEXT-DECORATION: underline
}
A.Foot:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.Foot:visited {
	COLOR: #1889d7; TEXT-DECORATION: underline
}
A.Foot:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.Foot:active {
	COLOR: #1889d7; TEXT-DECORATION: underline
}
.images_inside {
	VERTICAL-ALIGN: bottom; TEXT-DECORATION: none
}
.Title {
	FONT: bold 16px "宋体", Arial, Tahoma; COLOR: #000000; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.Title_sub {
	FONT: 14px/20px "宋体", Arial, Tahoma; COLOR: #000000; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.Title_sub_red {
	FONT: 14px/20px "宋体", Arial, Tahoma; COLOR: red; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.box {
	BORDER-RIGHT: rgb(147,195,243) 1px solid; BORDER-TOP: rgb(147,195,243) 1px solid; BORDER-LEFT: rgb(147,195,243) 1px solid; BORDER-BOTTOM: rgb(147,195,243) 1px solid
}
.boxlight {
	BORDER-RIGHT: rgb(147,195,243) 1px solid; BORDER-TOP: rgb(147,195,243) 1px solid; BORDER-LEFT: rgb(147,195,243) 1px solid; BORDER-BOTTOM: rgb(147,195,243) 1px solid; BACKGROUND-COLOR: #f7fbff
}
.boxblue {
	BORDER-RIGHT: rgb(44,122,195) 1px solid; BORDER-TOP: rgb(44,122,195) 1px solid; BORDER-LEFT: rgb(44,122,195) 1px solid; COLOR: #000000; BORDER-BOTTOM: rgb(44,122,195) 1px solid; BACKGROUND-COLOR: #e4f5ff
}
.boxunderlineblue {
	BORDER-BOTTOM: rgb(213,228,247) 1px solid
}
.boxinput {
	BORDER-RIGHT: rgb(147,195,243) 1px solid; BORDER-TOP: rgb(147,195,243) 1px solid; BORDER-LEFT: rgb(147,195,243) 1px solid; BORDER-BOTTOM: rgb(147,195,243) 1px solid; BACKGROUND-COLOR: #ffffff
}
.boxinputgrey {
	BORDER-RIGHT: rgb(147,195,243) 1px solid; BORDER-TOP: rgb(147,195,243) 1px solid; FONT: 12px/16px "宋体", Verdana, Arial; BORDER-LEFT: rgb(147,195,243) 1px solid; BORDER-BOTTOM: rgb(147,195,243) 1px solid
}
.boxtitle {
	BORDER-RIGHT: rgb(213,228,247) 1px solid; BORDER-TOP: rgb(213,228,247) 1px solid; BORDER-LEFT: rgb(213,228,247) 1px solid; BORDER-BOTTOM: rgb(213,228,247) 1px solid
}
.greydotline {
	BORDER-BOTTOM: #606060 1px dotted
}
.appeal_table_1 {
	BORDER-RIGHT: #9999a1 1px solid; BORDER-TOP: #9999a1 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #9999a1 1px solid; BORDER-BOTTOM: #9999a1 1px solid
}
.appeal_table_2 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 23px; BACKGROUND-COLOR: #f2f2f2; TEXT-DECORATION: none
}
.app_gimage {
	BORDER-RIGHT: #e0e9f1 1px solid; BORDER-TOP: #e0e9f1 1px solid; BORDER-LEFT: #e0e9f1 1px solid; BORDER-BOTTOM: #e0e9f1 1px solid
}
.app_help_div {
	RIGHT: 100px; FLOAT: right; POSITION: relative; TOP: 0px
}
.menu_down_box {
	BORDER-RIGHT: #53aeed 1px solid; BORDER-LEFT: #53aeed 1px solid; WIDTH: 90px; BORDER-BOTTOM: #53aeed 1px solid
}
.menu_down_1 {
	LIST-STYLE-POSITION: inside; MARGIN: 0px; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #dff1ff; TEXT-ALIGN: left
}
.menu_down_2 {
	LIST-STYLE-POSITION: inside; MARGIN: 0px; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
A.menu_down:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.menu_down:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.menu_down:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
A.menu_down:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.menu_left:link {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.menu_left:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.menu_left:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
A.menu_left:active {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.menu_1_mouseon {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LIST-STYLE-IMAGE: url(/images/icon_mouseon.gif); MARGIN: 0px; COLOR: #000000; TEXT-INDENT: 20px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f7faff; TEXT-ALIGN: left
}
.menu_left_title {
	LIST-STYLE-POSITION: inside; FONT: bold 14px "宋体", Arial, Tahoma; COLOR: #ffffff; TEXT-INDENT: 5px; BACKGROUND-COLOR: #53aeed; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.menu_1_mouseoff {
	LIST-STYLE-POSITION: inside; FONT-SIZE: 14px; COLOR: #666666; TEXT-INDENT: 20px; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #dff1ff; TEXT-ALIGN: left
}
.menu_2_mouseoff {
	LIST-STYLE-POSITION: inside; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(/images/menu_left_bg.gif); COLOR: #666666; TEXT-INDENT: 20px; LINE-HEIGHT: 25px; TEXT-ALIGN: left
}
.app_table_contact1 {
	BORDER-RIGHT: #f3f4f6 1px solid; BORDER-TOP: #f3f4f6 1px solid; BORDER-LEFT: #f3f4f6 1px solid
}
.app_table_contact2 {
	BORDER-RIGHT: #f3f4f6 1px solid; BORDER-LEFT: #f3f4f6 1px solid; BORDER-BOTTOM: #f3f4f6 1px solid
}
.boxlightblue {
	BACKGROUND-COLOR: #f7fbff
}
.boxlightgrey {
	WIDTH: 180px; BACKGROUND-COLOR: #d9dde8
}
.boxgreen {
	BACKGROUND-COLOR: #50b033
}
.menubluetowhite {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#DFF1FF,endColorStr=#ffffff)
}
.Text_inside {
	FONT: 12px/18px "宋体", Verdana, Arial; COLOR: #2c2c2c; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.Red {
	FONT-WEIGHT: normal; COLOR: #ff0000
}
.Green {
	FONT-WEIGHT: normal; COLOR: #339900
}
.Form {
	BORDER-RIGHT: #cccccc 1px; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px dotted
}
.Title_login {
	FONT: bolder 12px "宋体", Arial, Tahoma; COLOR: #000000; BACKGROUND-COLOR: #b8dcff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.Text_login {
	FONT: 12px "宋体", Verdana, Arial; COLOR: #333333; BACKGROUND-COLOR: #f0f8ff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.Title_sub_on {
	FONT: bold 14px "宋体", Arial, Tahoma; COLOR: #000000; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.Title_sub_off {
	FONT: 14px "宋体", Arial, Tahoma; COLOR: #797979; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.sub_off {
	FONT: 12px "宋体", Arial, Tahoma; COLOR: #797979; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.Title16 {
	FONT: bold 16px "宋体", Arial, Tahoma; COLOR: #000000; TEXT-DECORATION: none
}
.Text_induct {
	FONT: 12px "宋体", Verdana, Arial; COLOR: #000000; TEXT-DECORATION: none
}
.Text_induct_red {
	FONT: 12px/15px "宋体", Verdana, Arial; COLOR: #ff0000; TEXT-DECORATION: none
}
.Title_14 {
	FONT: bold 14px "宋体", Arial, Tahoma; COLOR: #000000; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.title_20 {
	FONT: bold 13px "宋体", Arial, Tahoma; COLOR: #0066cc
}
.greydotlineon {
	BORDER-TOP: #606060 1px dotted
}
.boxyellow {
	BORDER-RIGHT: #ffcc66 1px solid; BORDER-TOP: #ffcc66 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #ffcc66 1px solid; LINE-HEIGHT: 18px; BORDER-BOTTOM: #ffcc66 1px solid; BACKGROUND-COLOR: #ffffd2
}
.Title_12 {
	FONT: bold 12px "宋体", Arial, Tahoma; COLOR: #000000; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.helptitle {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #003399; FONT-FAMILY: "宋体", Arial, Tahoma; BACKGROUND-COLOR: #def4fa; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.css0161 {
	BACKGROUND-COLOR: #fff
}
.css0162 {
	BORDER-RIGHT: #bebebe 1px solid; BORDER-BOTTOM: #bebebe 1px solid; BACKGROUND-COLOR: #ebebeb
}
.css0163 {
	BORDER-RIGHT: #bb2b2b 1px solid; BORDER-BOTTOM: #bb2b2b 1px solid; BACKGROUND-COLOR: #ff4545
}
.css0164 {
	BORDER-RIGHT: #e9ae10 1px solid; BORDER-BOTTOM: #e9ae10 1px solid; BACKGROUND-COLOR: #ffd35e
}
.css0165 {
	BORDER-RIGHT: #267a12 1px solid; BORDER-BOTTOM: #267a12 1px solid; BACKGROUND-COLOR: #3abb1c
}
TD#leftTD {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 36px; PADDING-LEFT: 36px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
TD#topleftTD {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 36px; PADDING-LEFT: 36px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
TD#btmleftTD {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 36px; PADDING-LEFT: 36px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
TD#rightTD {
	PADDING-RIGHT: 36px; PADDING-LEFT: 36px; PADDING-BOTTOM: 0px; WIDTH: 380px; PADDING-TOP: 0px
}
TD#moreTD {
	PADDING-RIGHT: 36px; PADDING-LEFT: 36px; PADDING-BOTTOM: 0px; WIDTH: 380px; PADDING-TOP: 0px
}
TD#toprightTD {
	PADDING-RIGHT: 36px; PADDING-LEFT: 36px; PADDING-BOTTOM: 0px; WIDTH: 380px; PADDING-TOP: 0px
}
.clew_text {
	FONT-SIZE: 12px; LINE-HEIGHT: 16px
}
.clew_text_1 {
	FONT: 12px/17px "宋体", Verdana, Arial; COLOR: #000000
}
A.clew_text_2:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #00459a; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.clew_text_2:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #00459a; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.clew_text_2:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.clew_text_2:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #00459a; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
A.login_text:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #cc3399; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.login_text:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #cc3399; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.login_text:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #cc3399; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
A.login_text:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #cc3399; LINE-HEIGHT: 18px; POSITION: relative; TEXT-DECORATION: underline
}
.appeal_modi_table {
	WIDTH: 100px; HEIGHT: 24px; TEXT-ALIGN: right
}
.clew_text_2 {
	FONT: 12px "宋体", Verdana, Arial; COLOR: #6699cc
}
.drop_text {
	COLOR: #ff6600
}
.app_navigation_text1 {
	FONT-SIZE: 14px; COLOR: #ff6000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.app_navigation_text2 {
	FONT-SIZE: 16px; COLOR: #0099ff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.app_navigation_text3 {
	FONT-SIZE: 16px; COLOR: #ff6000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.app_navigation_text4 {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.app_navigation_nem1 {
	FONT-SIZE: 14px; COLOR: #74706c; FONT-FAMILY: "宋体",Verdana, Arial
}
.app_navigation_nem2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff8a00; FONT-FAMILY: "宋体",Verdana, Arial
}
.ImgBtn_Small {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/btn_img_s.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 62px; CURSOR: hand; COLOR: #000000; PADDING-TOP: 0px; HEIGHT: 22px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.ImgBtn_Big {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/btn_img.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 67px; CURSOR: hand; COLOR: #000000; PADDING-TOP: 0px; HEIGHT: 22px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.app_ImgBtn_Big {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(/images/app_btn1.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 126px; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 0px; HEIGHT: 31px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.app_btn_clear {
	BORDER-TOP-WIDTH: 0px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 30px; COLOR: #000000; PADDING-TOP: 5px; HEIGHT: 25px; BACKGROUND-COLOR: #66ccff; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.dialogbox {
	Z-INDEX: 1000; LEFT: 440px; VISIBILITY: hidden; WIDTH: 217px; POSITION: absolute; TOP: 633px; HEIGHT: 34px
}
/* button样式 */
.ImgBtn_Small {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url("btn_img_s[1].gif"); BORDER-LEFT: 0px; WIDTH: 62px; CURSOR: hand; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 22px;text-align: center
}
.ImgBtn_Big {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url("btn_img[1].gif"); BORDER-LEFT: 0px; WIDTH: 67px; HEIGHT: 22px;CURSOR: hand; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; text-align: center
}
.app_ImgBtn_Big {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url("app_btn1[1].gif"); BORDER-LEFT: 0px; CURSOR: hand; WIDTH: 126px; HEIGHT: 31px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; text-align: center;font-weight: bold; 
}
.app_btn_clear{
BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; background-color:#66CCFF; BORDER-LEFT: 0px; WIDTH: 30px; COLOR: #000000; PADDING-TOP: 5px; PADDING-left: 5px; BORDER-BOTTOM: 0px; HEIGHT: 25px;text-align: center
}